[2016-07-19 11:26] jnioche opened #1 "Write script to send completed WARC files to S3"
As a cronjob; using s3cmd?

[2016-07-19 14:28] jnioche opened #2 "Check WARC files generated"
Compare with what we get from [https://webrecorder.io/]
Read with [https://github.com/ikreymer/webarchiveplayer]
Try with warcdump command

[2016-07-19 14:42] jnioche opened #3 "IsFeed K/V not transferred to redirection"

[2016-07-21 21:17] sebastian-nagel opened #4 "WARC files should use record-at-time compression"
The WARC standard recommends to compress every record independently "[record-at-time](https://github.com/iipc/warc-specifications/blob/gh-pages/specifications/warc-format/warc-1.1/index.md#record-at-time-compression-)". This feature is required by wayback machines including http://index.commoncrawl.org/.

[2016-07-22 06:54] #4 closed, assigned to nobody

[2016-08-23 10:53] #2 closed, assigned to jnioche

[2016-08-23 10:54] jnioche opened #5 "Add Time + Size RotationPolicy"
so that we rotate the file whenever we reach a given size and / or time since opening it

[2016-08-26 14:47] #5 closed, assigned to jnioche

[2016-08-26 14:49] #1 closed, assigned to sebastian-nagel

[2016-09-28 12:33] sebastian-nagel opened #7 "Reset WARC file size counter on time-based rotation"
The WARC file rotation may hapen unnecessarily often:
[code]
The file with timestamp 07:59 should be part of the next WARC. This happens if first the time limit applies:
[code]
which did obviously not properly reset the file size counter. 15 min. later the file size limit (1 GB) is logged to be hit (943 MB + 42 MB = 1025 MB ~ 1GB):
[code]

[2016-10-05 07:23] sebastian-nagel opened #8 "Bootstrap topology to add feeds and sitemaps from news sites"
[DMOZ](http://www.dmoz.org/) is a good source to get a large list of news sites for various languages and countries:
1. define a set of English categories matching the topic
2. extract the translations to other language category names / paths
3. extract all URLs listed below all categories (English and other languages)

See as a first draft [get_dmoz_news_links.sh](https://gist.github.com/sebastia

[2016-10-05 07:47] sebastian-nagel opened #9 "Pages crawled twice / Duplicate URLs in WARC files"
The WARC files contain duplicate URLs because pages are fetched twice within a short time interval due to https://github.com/DigitalPebble/storm-crawler/issues/340.

[2016-10-05 07:56] sebastian-nagel opened #10 "WARC files not properly closed if topology killed or died"
If the crawl topology died or was killed the WARC file is not properly closed. This causes an error when decompressing the WARC file: `gzip: CC-NEWS-20160926233041-00001.warc.gz: unexpected end of file`.

[2016-10-10 09:49] jnioche commented on #9
FYI @sebastian-nagel the issue in SC should now be fixed

[2016-10-13 11:46] sandeepsingh opened #11 "News WARC files processing issue."
Basically i am trying to iterate over the records of news WARC file to get HTML content and process the HTML content. I am using python warc package
snippet to read warc file:
import warc
    f = warc.open("CC-NEWS-20161001224340-00008.warc")
    for record in f:
        if record['Content-Type'] == 'application/http; msgtype=response':
            payload = record.payload.read()
            heade

[2016-10-13 14:26] sebastian-nagel commented on #11
Hi @sandeepsingh,

confirmed. Already the second record isn't successfully read:
[code]

WARC files from the main crawl are read successfully.

[2016-10-13 14:39] sebastian-nagel commented on #11
Other tools succeed reading this WARC file, e.g., [ia-web-commons](https://github.com/commoncrawl/ia-web-commons), cf. #2.

[2016-10-13 16:20] sebastian-nagel commented on #11
Tracked in DigitalPebble/sc-warc#3.

@sandeepsingh, as a temporary work-around and in case the WARC files are copied and unpacked anyway: if the value of the first Content-Length field is decremented by 2, the [warc module](http://warc.readthedocs.io/en/latest/) should be able to read the file. This can be done by:
[code]
Thanks for reporting the issue. I'll hope to deploy a fix during the next da

[2016-10-13 19:51] jnioche commented on #11
thanks @sandeepsingh  for reporting the problem and @sebastian-nagel for fixing it.

[2016-10-14 12:29] jnioche commented on #7
@sebastian-nagel should be fixed in [https://github.com/DigitalPebble/sc-warc/issues/15]

[2016-10-14 12:37] sebastian-nagel commented on #7
Thanks, will test today!

[2016-10-14 15:55] sebastian-nagel commented on #9
No pages fetched twice in a 2000 pages test crawl!

[2016-10-17 14:48] sebastian-nagel commented on #10
Looks like the cleanup() method in WARCHdfsBolt/GzipHdfsBolt is not called when a topology is killed. The last record in the WARC file is truncated, compared with the worker.log more than 200 records are missing from the WARC file.

[2016-10-17 14:52] sebastian-nagel commented on #10
... because of "there is no guarentee that cleanup will be called" ([BaseRichBolt.cleanup()](https://storm.apache.org/releases/1.0.2/javadocs/org/apache/storm/topology/base/BaseRichBolt.html#cleanup--))?

[2016-10-17 16:08] jnioche commented on #10
Exactly. There could be a way of improving things though by using the sync policy (i.e. when we mark/fail  the tuples) better? A lower value would mean that we flush more often.

[2016-10-18 14:40] sebastian-nagel commented on #9
After one day with DigitalPebble/storm-crawler#340 in production: 1 duplicate per 36,000 fetched URLs. That's acceptable!

[2016-10-18 14:40] #9 closed

[2016-10-18 14:58] jnioche commented on #9
Great!

[2016-10-19 08:41] sebastian-nagel commented on #11
The fix for DigitalPebble/sc-warc#3 is deployed. TODO: reformat the old WARC files.

@sandeepsingh : I've tested the first "good" WARC file (`s3://commoncrawl/crawl-data/CC-NEWS/2016/10/CC-NEWS-20161017145313-00000.warc.gz`) using the [warc module](https://pypi.python.org/pypi/warc/). To read it completely you need to work-around internetarchive/warc#21.

[2016-10-24 12:40] sebastian-nagel commented on #7
Applied to production system. Works well. Thanks!

[2016-10-24 12:40] #7 closed

[2016-10-24 20:18] john-hewitt opened #12 "Large seed URL offer for CC News Dataset"
Hi @jnioche @sebastian-nagel

I'm a researcher in multilingual natural language processing at the University of Pennsylvania. I have a dataset of about 45,000 news seed URLs and their corresponding locales and main language of publication.

I'd love to see these added to the Common Crawl News Dataset seed URLs to improve multilingual coverage.
We have full rights to release the info, and I'd be ha

[2016-10-24 21:54] sebastian-nagel commented on #12
Hi @john-hewitt,
we are definitely interested. Thanks! The crawler currently requires that a news site provides a RSS feed which is not a redirect. But we hope to remove this limitations, see also #3 and #8. To have a large and curated list of news sites available is of course great, the data from DMOZ contains some noise.
-Sebastian

[2016-10-25 13:51] john-hewitt commented on #12
Awesome. My advisor and I would prefer to email these as opposed to posting them on Github directly. We scraped them from a site, and for the site's sake would prefer they not be 100% public.

[2016-10-25 20:24] jnioche commented on #3
@sebastian-nagel could you give a few examples of redirs for which the auto detection doesn't work? Thanks

[2016-10-26 07:00] sebastian-nagel commented on #3
One example (the newspaper I daily get on paper): `http://www.taz.de/rss.xml` redirects to `http://www.taz.de/!p4608;rss/` and the server sends `Content-Type: text/xml;charset=utf-8` which makes the auto detection fail.
The auto detection is nice, esp. because it allows to identify additional seeds. But it may be not sufficient for certain cases, e.g., if a seed is redirected to a dynamic ephemera

[2016-10-26 10:52] sebastian-nagel commented on #12
Hi @john-hewitt,
thanks I'll contact you per mail. Of course, we would prefer an open seed list to be transparent and ensure a certain amount of reproducibility of the crawls. That's why [DMOZ](http://www.dmoz.org/) is an ideal resource. We need to discuss internally how we proceed and whether or not we use it as seed list, or alternatively as a reference to check the coverage of DMOZ links.
-Seba

[2016-10-30 07:28] jnioche commented on #3
The autodetection is not just based on the mimetype but also on the content and actually works with the URL above.

[2016-10-30 10:10] sebastian-nagel commented on #3
Ok, got it: the auto-detection wasn't enabled.

[2016-11-09 21:01] jnioche commented on #3
Closing as not a bug. It makes no sense to pass on the feedKV blindly to the redirection : it might be a feed too, or not but there is no guarantee of it.

[2016-11-09 21:01] #3 closed

[2016-11-09 21:02] jnioche commented on #11
@sandeepsingh @sebastian-nagel close?

[2016-11-23 10:43] sebastian-nagel opened #13 "Improve feed parser robustness"
As of today, 350 feeds fail to parse, most of them because the URL points not to a RSS or Atom feed. However, 80-100 feeds fail with trivial errors which should not break a robust feed parser and do mostly not affect extraction of links:
- (35 feeds) unknown entities `&lsquo;` or `&uacute;` etc.
[code]
- (20 feeds) single ampersands
[code]
- RSS extensions
[code]
- leading newlines / white space /

[2016-11-23 12:38] jnioche commented on #13
Thanks @sebastian-nagel this is very useful.

[2016-11-23 14:14] sebastian-nagel opened #14 "Ensure that seeds are refetched from time to time even if failed or redirected"
All manually collected seeds (feeds or future seed formats, e.g., news sitemaps) should be refetched from time to time (weekly or monthly) even if they are redirected or failed to fetch:
-  a redirect may change over time. This indeed happened within 2 month for 10 seeds out of 5000: 8 redirects now point to https instead of http, two redirects have changed more significantly
- any failure (failed

[2016-11-23 14:18] sebastian-nagel commented on #3
Thanks. The number of crawled pages went significantly up after deploying the changed config (`feed.sniffContent: true`) and refetching all redirected seed feeds. Opened #14 and DigitalPebble/storm-crawler#386 to force a refetch of redirected seeds with low frequency (weekly or monthly).

[2016-11-23 14:49] sebastian-nagel opened #15 "Adaptive fetch schedule for feeds"
At present, the refetch schedule for seed feeds is globally 3 hours which is a compromise between
- trying not to miss links for large national newspapers (10 min. are required to get every news link in rush hours, e.g., Monday morning)
- not overloading small regional newspapers or news blogs with only a few news per day
  - or dedicated per-category feeds (eg "[animals](http://xml.corriereobject

[2016-11-23 21:19] jnioche commented on #13
*NPE*
[http://chestertontribune.com/rss.xml] contains an item without link, which causes the NPE

[code]

[https://antarcticsun.usap.gov/resources/xml/antsun-continent.xml] is a bit different in that it uses guid instead of link. I'll modify the code so that we take the guid in the absence of a link.

[2016-11-28 12:37] jnioche commented on #13
Note : just upgraded Rome-Tools to 1.7.0 in https://github.com/DigitalPebble/storm-crawler/commit/4832c9860fc8fc3e3a66b3f8e687bc81d60e5d8f

[2017-01-12 09:57] sebastian-nagel commented on #15
Adaptive scheduler in production since 3 weeks:
* the mentioned infrequently changing RSS feeds now have a long fetch interval: 1 week for [animals from Corriere della Sera](http://xml.corriereobjects.it/rss/animali.xml)
* frequently changing feeds (e.g., [Guardian politics](https://www.theguardian.com/politics/rss)) are re-fetched within the configured minimum interval

[2017-01-19 20:29] timClicks commented on #8
We could also mine CommonCrawl for `sitemap-news.xml`

[2017-01-19 21:32] sebastian-nagel commented on #8
Yes, that's one of things I've planned to do. I've already prepared a list of sitemaps from the December 2016 crawl. A first grep for `sitemap-news.xml` and `news-sitemap.xml` showed that there is more than a million matched sitemap URLs. However, checking some of them showed that most are empty, outdated, ads, or just not what is planned to be included into the crawl (e.g., [1](http://aporn.tv/si

[2017-02-02 21:23] sebastian-nagel opened #16 "URLs with trailing white space continuously re-fetched"
Certain URLs following a quite specific pattern are continuously re-refetched, here the counts from a couple of hours log files:
[code]
The status index of these URLs seems correct, e.g.:
[code]
or
[code]

[2017-02-02 21:25] sebastian-nagel commented on #15
Testing in production ongoing, waiting for DigitalPebble/storm-crawler#418

[2017-02-02 21:29] sebastian-nagel commented on #14
Testing DigitalPebble/storm-crawler#386 in production, waiting for DigitalPebble/storm-crawler#420

[2017-02-03 05:47] john-hewitt commented on #16
I would look at the seed URLs from #12 ; this looks like the 3-field CSV  of [URL,Language,Region] was treated as a single URL.

[2017-02-03 09:27] sebastian-nagel commented on #16
Thanks, @john-hewitt! That explains how these URLs went into the crawl. A quick fix would be to just remove them.

However, they are currently re-fetched every 3-5 minutes which is definitely a bug. Better to analyze while it's hot. It's an unnecessary waste of resources, and what's worse, some of them are repeatedly written into the WARC files.

[2017-02-03 12:10] sebastian-nagel commented on #16
Ok, got it: it's a record with a trailing space
[code]
The trailing is lost in the topology when FetcherBolt converts the URL string into a java.net.URL object. In consequence, the original record never gets updated.

[2017-02-03 14:04] #14 closed

[2017-02-03 14:04] #15 closed

[2017-02-03 14:10] sebastian-nagel commented on #16
Removed all troublesome URLs from Elasticsearch.

[2017-02-03 14:10] #16 closed

[2017-02-05 08:28] john-hewitt opened #17 "Provide indexing outside AWS"
For the time being, I do not have AWS credentials. This means I'm unable to determine the filenames for the crawl dumps. Could the directory structure be made available by methods other than `aws ls`?

I might be wrong, but I don't think `aws ls` can be run anonymously.

[2017-02-05 15:58] sebastian-nagel commented on #17
The only requirement is to install the [AWS Command Line Interface](https://aws.amazon.com/cli/) locally on your machine, then `--no-sign-request` allows for anonymous access:
[code]
To download the files add to every path in the listing as prefix `s3://commoncrawl/` or `https://commoncrawl.s3.amazonaws.com/`.

[2017-02-05 20:31] john-hewitt commented on #17
Awesome; you're right. Thanks.

[2017-02-05 20:31] #17 closed

[2017-02-06 17:08] sebastian-nagel commented on #17
No problem, I take this as an important point to be added to the [get-started page](http://commoncrawl.org/the-data/get-started/), we also need to mention the news crawl there. Thanks!

[2017-05-29 14:41] fhamborg opened #18 "Extract publishing date"
It would be great if you could additionally extract the date when an article was published. Currently, this requires parsing the web page and using tools such as newspaper3k to get that information. However, during the crawling process at least some webpages would offer this information, e.g. the time stamp within the RSS feed
`<pubDate>Thu, 25 Dec 2014 02:10:00 +0900</pubDate>`
or within the site

[2017-09-21 08:07] RahulGuptaIIITA commented on #11
@sandeepsingh   I'm trying to parse warc.gz file using warc library.  I'm getting the similar issue
IOError: Expected '\r\n', found 'WARC/1.0\r\n'
could you please tell me how to fix it ?

[2017-09-21 09:46] sebastian-nagel commented on #11
Hi @RahulGuptaIIITA, could you share more details? - Which library and version, programming language, which WARC files causes the error? Without being able to reproduce the problem I cannot even try to fix it. Thanks!

[2017-09-21 18:53] RahulGuptaIIITA commented on #11
@sebastian-nagel     Actually,  the warc file which im trying to process is different.  But i'm facing the same issue which was mentioned by @sandeepsingh .

Im using python library warc to parse it. Apologies for providing less information. But still if you can help me with this general issue, then it would be a big help. Thanks!

[2017-09-22 08:18] sebastian-nagel commented on #11
I'm aware that about 60 WARC files of the news crawler are still invalid and fail to parse using the [warc](https://pypi.python.org/pypi/warc) module, see the comment above. I hope to get them fixed, if not I'll delete them.
But the point is: your problem can be caused by an invalid WARC file or a bug in the warc module. If you cannot share the WARC file, could you try another module: [warcio](htt

[2017-09-22 08:46] sandeepsingh commented on #11
Ignore the first two months CC-NEWS data, start from 2017 January.

WARCIO also does not work.

**What i did:**
          catched error records in exceptions and ignored those records from parsing.

**Reason for error:**
I think there was some issue with initial working of CC storm-crawler which they had deployed it for the first time for CC-NEWS crawling, replacing legacy Nutch.

[2017-09-22 16:57] RahulGuptaIIITA commented on #11
@sebastian-nagel  Thanks for the information.
@sandeepsingh  I tried using WARCIO. It worked fine on 'arc' format but failing on 'warc'.

The error I'm getting is mentioned below.
raise ArchiveLoadFailed(msg + str(se.statusline))
warcio.recordloader.ArchiveLoadFailed: Unknown archive format, first line: ['WARC-Type:', 'response']

I tried using exception but no luck.

[2017-09-24 17:37] RahulGuptaIIITA commented on #11
@sandeepsingh   I got the issue and fixed it.  While unzipping the file, it was getting corrupt. I used zipped file directly to read a record from and it worked fine. Thanks !

[2017-09-26 08:48] sebastian-nagel commented on #11
@sandeepsingh: all invalid CC-NEWS WARC files from Sept/Oct 2016 are now fixed. Closing this issue. Thanks!

@RahulGuptaIIITA: ok, understood. Decompressing WARC files using gzip or gunzip should be safe. However, recompressing may harm: some tools fail if WARC files are not compressed per record.

[2017-09-26 08:48] #11 closed

[2018-02-13 16:44] sebastian-nagel opened #19 "AdaptiveScheduler not applied to RSS/Atom feeds"
The fetchInterval in metadata is not properly updated for RSS/Atom feeds. News sitemaps do not seem to be affected... (seen with the recent version based on StormCrawler 1.8 / ElasticSearch 6.0)

[2018-03-05 15:54] sebastian-nagel commented on #19
Seems to be caused by the signature not persisted. In this case (usually only the first fetch after injection), AdaptiveScheduler calls DefaultScheduler.

[2018-03-05 16:48] sebastian-nagel opened #20 "Upgrade to Storm 1.2.1 and ES 6.1.1"
Storm-crawler is now based on Storm 1.2.1 and Elasticsearch 6.1.1, news-crawl should also be upgraded.

[2018-03-06 12:36] sebastian-nagel commented on #19
Fixed, see [storm-crawler#541](/DigitalPebble/storm-crawler/issues/541) and verified that content signatures now are stored in ES.

[2018-03-06 12:36] #19 closed

[2018-03-07 12:27] sebastian-nagel opened #21 "URL filter: exclude localhost and private addresses"
The URL filters should reject localhost and private address spaces. The crawler may detect links pointing to a private network address, e.g.
[code]
This example looks more like an error on the remote page. But the crawler should never even try to access pages from localhost or a private network to avoid that information is leaked and is written to the WARC file. Could be, e.g., a link to the Storm

[2018-03-07 12:53] jnioche commented on #21
This would be a good thing to add to the [default config for the URL filters](https://github.com/DigitalPebble/storm-crawler/blob/master/archetype/src/main/resources/archetype-resources/src/main/resources/default-regex-filters.txt) generated by the SC archetype.

[2018-03-07 12:54] sebastian-nagel commented on #21
PR is ready (I'm testing right now). I'll push it forward. Thanks!

[2018-03-07 15:23] sebastian-nagel opened #22 "Should follow subsitemaps in sitemap index"
The newscrawler uses only news sitemaps as "news feed" and ignores "ordinary" sitemaps not following the URLs listed there. However, the crawler should follow sitemaps listed in a sitemap index and check whether one of them is a news sitemap.
E.g. while https://www.greenwichtime.com/sitemap_news.xml is not a news sitemap, it links to a bunch of news sitemaps:
[code]

[2018-03-07 16:53] #20 closed

[2018-03-07 16:53] #21 closed

[2018-03-07 16:53] #22 closed

[2018-03-07 16:55] sebastian-nagel commented on #20
Merged into master and tested on Docker with ES 6.1.1 and also the most recent 6.2.2.

[2018-03-09 21:08] sebastian-nagel opened #23 "NewsSiteMapParserBolt fails to parse valid XML sitemap"
NewsSiteMapParserBolt fails to parse some valid XML sitemaps, e.g.,
[code]
For this sitemap the server responds `Content-Type: text/html; charset=ISO-8859-1` which seems to cause that it's not even tried to parse as XML.

[2018-03-12 12:33] sebastian-nagel commented on #18
Status update:
- `<pubDate>` (feeds) and `<lastmod>` (sitemaps) is now used to reject news articles older than 30 days.
- TODO:
   * add support for `<news:publication_date>`
   * pass this info from feed/sitemap forward and add it to the WARC record

[2018-03-16 14:56] sebastian-nagel opened #24 "Crawl-delay in robots.txt should not shrink delay configured by fetcher.server.delay"
The news crawler is configured to be polite with a guaranteed fetch delay of few seconds. However, some robots.txt rules define a crawl-delay below one second which then overwrites the the configured delay. The [crawler-commons robots.txt parser](https://github.com/crawler-commons/crawler-commons/blob/master/src/main/java/crawlercommons/robots/SimpleRobotRulesParser.java#L701) would allow even a d

[2018-03-16 15:12] sebastian-nagel commented on #20
Thanks. Too late, I'll integrate it in the next deployment cycle.

[2018-03-21 14:57] sebastian-nagel opened #25 "Full support for sitemap extensions and namespaces"
From sitemaps only news sitemaps are accepted as seed source. However,
- information from extensions is not used (cf. `news:publication_date` #18)
- any sitemap which declares the news namespace is considered to be a news sitemap. But there are also image sitemaps which declare the news namespace:
  - the image URLs should not be extracted as news seeds
  - ev. also items not marked as news should

[2018-03-21 15:05] sebastian-nagel commented on #8
Implemented and used from time to time to extend the news crawler seeds.

Regarding a general use of sitemaps with `news` in filename / URL or even using the news namespace/extension: there a many sites which use these to "mark up" content such as product announcements, real estate offers. The outside of the scope of Common Crawl's news crawler.

[2018-03-21 15:05] #8 closed

[2018-03-28 19:25] sebastian-nagel commented on #13
Alternatively, thinking about using the sitemap parser (based on crawler-commons) to parse the feeds. The important parts (URL and publication date) are also made available by the sitemap parser. I'll try to evaluate both parsers on a larger test set.

[2018-05-03 20:07] randomgambit opened #26 "amazing dataset!"
Hello there,

I just discovered your `news-crawler` and I think this is an amazing idea!

Sorry if this is a very simple question, but is it possible to somehow download slices of the news-crawling data (possibly based on a keyword/regex/domain) without resorting to amazon AWS?

The ideas is that I have a very large cluster at my disposal already, so I would rather work with the raw data directly

[2018-05-08 08:27] sebastian-nagel commented on #26
The CC-NEWS WARC files (on s3://commoncrawl/crawl-data/CC-NEWS/) is organized by time (fetch time which corresponds to publication time with some limitations). To get slices by URL or content you would need to run a filter over the entire data.

[2018-06-11 14:43] #26 closed

[2018-10-16 13:12] rishrockstar opened #27 "Error: Could not find or load main class com.digitalpebble.stormcrawler.elasticsearch.ESSeedInjector"
Hi,
I Just Follow the Readme..
I Create the Uber Jar Using the mvn clean package
but i am getting this error.

Error: Could not find or load main class com.digitalpebble.stormcrawler.elasticsearch.ESSeedInjector
Please Guide me the way.
![image](https://user-images.githubusercontent.com/28513438/47018771-1e06b380-d173-11e8-88e2-4df21180b420.png)

[2018-10-16 15:54] sebastian-nagel commented on #27
Did the build command (`mvn clean package`) succeed? Right now you need to build the news crawler package with Stormcrawler 824cefa, see [this discussion](https://groups.google.com/forum/#!topic/common-crawl/u-mRYubKmRU). Sorry, that's not ideal but I haven't found the time to update this project. Lesson learned: only build it against released Stormcrawler versions. In detail, the steps to build i

[2019-02-18 10:48] sebastian-nagel opened #28 "Endless refetch of URLs due to changing domain names"
The news crawler uses the domain name to manage fetch queues. The domain name is also used to route URLs to Elasticsearch shards. When a URL is re-fetched the existing routing key isn't reused, instead the domain name is newly extracted from the host name and used as routing key. This makes the routing unstable because the domain name extraction is based on the changing and continuously updated [p

[2019-02-18 12:25] sebastian-nagel commented on #27
Closing. Please reopen if the problem persists. With 319e2f3 this project is based on a released version of StormCrawler and should always build properly.

[2019-02-18 12:25] #27 closed

[2019-02-18 12:39] sebastian-nagel commented on #24
Included with upgrade to StormCrawler 1.12.1 in 2e36397.

[2019-02-18 12:39] #24 closed

[2019-02-18 12:40] sebastian-nagel commented on #12
Closing. The seeds for the news crawl have been improved significantly over the last 2 years. Thanks, @john-hewitt!

[2019-02-18 13:04] sebastian-nagel commented on #28
Opened DigitalPebble/storm-crawler#684. For now all "hanging" items are removed from the status index. 350 domains (or hosts previously identified as separate domains) are affected. Luckily the issue only affects re-fetching of feeds and sitemaps, and a few re-fetches of URLs which have been fetched first shortly before the last update which included a significant improvement in the the domain nam

[2019-02-18 13:13] sebastian-nagel commented on #10
This is fixed by DigitalPebble/storm-crawler#596 which is now included after the upgrade to StormCrawler 1.12.

[2019-02-18 13:13] #10 closed

[2019-02-18 13:13] #12 closed

[2019-02-18 14:05] sebastian-nagel opened #29 "WARC file format fix: add WARC-IP-Address"
Should add the remote target IP address as field "WARC-IP-Address" to CC-NEWS response records. Thanks, @wumpus for detecting this!

[2019-02-18 14:23] sebastian-nagel opened #30 "WARC file format fix: mask HTTP header fields Content-Encoding and Transfer-Encoding, adjust Content-Length"
The CC-NEWS contain the literal values of the HTTP header fields `Content-Encoding`, `Transfer-Encoding` and `Content-Length` although the payload is stored unchunked and uncompressed.
- the header fields `Content-Encoding` and `Transfer-Encoding` should be masked by a prefix (the CC-MAIN WARC files use `X-Crawler-`)
- if the value of `Content-Length` is wrong because of a change of the Content-En

[2019-03-12 08:50] sebastian-nagel opened #31 "WARC file format improvement: add WARC-Truncated header"
The WARC standards recommends to mark records which have been truncated because of limits on the content size or fetch time by a field [WARC-Truncated](http://iipc.github.io/warc-specifications/specifications/warc-format/warc-1.1/#warc-truncated). Add this field and track the reason for the truncation.

[2019-05-22 12:32] #28 closed

[2019-05-22 12:32] #29 closed

[2019-05-22 12:32] #30 closed

[2019-05-22 12:32] #31 closed

[2019-05-22 12:32] #25 closed

[2019-05-22 13:00] sebastian-nagel commented on #28
Fix deployed and status index reindexed together with upgrade to StormCrawler 1.14 and Elasticsearch 7.0

[2019-05-22 13:02] sebastian-nagel commented on #31
Note that only WARC files in s3://commoncrawl/crawl-data/CC-NEWS/ written since May 16, 2019 contain the WARC-Truncated header.

[2019-05-22 13:03] sebastian-nagel commented on #30
Note that only WARC files in s3://commoncrawl/crawl-data/CC-NEWS/ written since May 16, 2019 contain the masked headers.

[2019-05-22 13:04] sebastian-nagel commented on #29
Note that only WARC files in s3://commoncrawl/crawl-data/CC-NEWS/ written since May 16, 2019 contain the WARC-IP-Address header.

[2019-05-22 13:23] sebastian-nagel commented on #18
The project now uses [crawler-commons](/crawler-commons/crawler-commons) 1.0 which brings full support for all sitemap extensions, including news sitemaps. The `<news:publication_date>` is now used to skip older news articles (with the current configuration older than 30 days).
Next steps to implement would be:
- make FeedParserBolt and NewsSiteMapParserBolt store the information in the metadata o

[2019-05-22 13:29] sebastian-nagel commented on #23
The show news sitemap is now processed properly although the server still responds with `text/html; charset=ISO-8859-1`.
Since 098a38b the content is always verified which also allows sitemaps to change from "ordinary" sitemaps to news sitemaps.

[2019-05-22 13:29] #23 closed

[2019-07-05 14:36] sebastian-nagel opened #32 "Check cross-submits for sitemaps"
Sitemaps are automatically detected in the robots.txt but not checked for [cross-submits](https://www.sitemaps.org/protocol.html#sitemaps_cross_submits). From time to time this leads to spam-like injections of URLs not matching the news genre. Recently, via one of their periodicals a publishing company "injects" their entire publishing program including landing pages for books and other media. Thi

[2019-07-09 11:57] sebastian-nagel commented on #32
Further scenario: a news site redirects on of their news articles to a page on another site as kind of an advertisement. We need to check the robots.txt of the target site, of course. But we should ignore the sitemap directives.

[2019-12-12 21:25] sebastian-nagel opened #34 "Add HTTP protocol version to HTTP request message"
The request records in the CC-NEWS WARC files lack the HTTP protocol version:
[code]
instead of
[code]
(see https://groups.google.com/d/msg/common-crawl/hsb90GHq6to/Lv-9-nHAAQAJ)

[2019-12-18 13:50] sebastian-nagel commented on #34
Fix in Stormcrawler (DigitalPebble/storm-crawler#775) deployed to production, WARC files now contain the HTTP version in the request message.

[2020-01-09 16:13] sebastian-nagel opened #35 "NewsSiteMapParserBolt: do not detect feeds as sitemaps"
If a news feed uses the sitemaps namespace it is erroneously detected as sitemap which causes that it's processed as sitemap (without being properly parsed) and not as feed. One [example feed](http://feeds.drudge.com/retort):
[code]

[2020-06-10 19:59] kaal-zathura24 opened #38 "unable to fetch data from elasticsearch , no content is showing"
i have used the following github repository "https://github.com/commoncrawl/news-crawl"
he has used the following versions of required libraries

Install Elasticsearch 7.5.0
Install Apache Storm 1.2.3
stormcrawler 1.16
maven 3.6.2

I have followed the path given in readme but my localhost:9200 is not showing any hits
the configuration command  is successfully running but it shows some FETCH_ERROR

[2020-06-22 13:26] kaal-zathura24 commented on #38
thanks a lot , that helped
________________________________
From: Sebastian Nagel <notifications@github.com>
Sent: 11 June 2020 02:40
To: commoncrawl/news-crawl <news-crawl@noreply.github.com>
Cc: 3342 GAURAV KUMAR <gkumar_17291@aitpune.edu.in>; Author <author@noreply.github.com>
Subject: Re: [commoncrawl/news-crawl] unable to fetch data from elasticsearch , no content is showing (#38)

Well, that

[2020-06-29 11:02] #38 closed

[2020-07-24 08:35] sebastian-nagel opened #40 "Automatic removal of ephemeral sitemaps"
If a news site creates sitemaps with unique URLs on a daily base (or even in shorter intervals), over time this leads to too many sitemaps checked for updates, causing that news articles get stuck in queues jammed with sitemaps. The unique URLs pointing to sitemaps can stem from the robots.txt or a sitemap index. Typical URL/file patterns for ephemeral sitemaps are caused by including:
- a timesta

[2020-07-24 11:16] sebastian-nagel opened #41 "Allow to follow news sites not providing RSS/Atom feed or news sitemap"
The news crawler (as of now) relies exclusively on [RSS](https://en.wikipedia.org/wiki/RSS)/[Atom](https://en.wikipedia.org/wiki/Atom_(Web_standard)) feeds and [news sitemaps](https://en.wikipedia.org/wiki/Sitemaps#Google_News_Sitemaps) to find links to news articles. However, some news sites do not provide feeds or sitemaps. In order to follow these news sites, the crawler should be able monitor

[2020-10-04 20:15] sebastian-nagel opened #42 "Do not use "http/2" protocol version in HTTP headers in WARC files"
340 WARC files of the news crawl data set, starting from 2020-09-12 until 2020-10-04 have been captured using [HTTP/2](https://en.wikipedia.org/wiki/HTTP/2) after a [Java security upgrade](https://mail.openjdk.java.net/pipermail/jdk8u-dev/2020-January/011042.html) which included [ALPN](https://en.wikipedia.org/wiki/Application-Layer_Protocol_Negotiation) and therefor allowed for HTTP/2. The crawle

[2020-12-15 05:41] Ashbajawed opened #43 "Error in build docker"
Hello I'm getting this error while building the docker

ADD failed: stat /var/lib/docker/tmp/docker-builder779286778/target/crawler-1.17.jar: no such file or directory

PS: I have also tried said path but its also not working

[2020-12-15 12:08] sebastian-nagel commented on #43
Did you create the uberjar? See the note in the README just after the `docker build` command. Sorry, I'll move the note and also extend the instructions how to compile the Java code (that's mandatory). But let me know whether running `mvn package` before `docker build ...` fixes your problem. Thanks!

[2020-12-15 14:01] Ashbajawed commented on #43
that's the issue.. while running command
`mvn clean package`

I'm getting this error

Could not find artifact jdk.tools:jdk.tools:jar:1.7 at specified path /usr/lib/jvm/java-11-openjdk-amd64/../lib/tools.jar

[2020-12-15 19:32] sebastian-nagel commented on #43
The tools.jar was removed for Java 9 and upwards. There are two ways to address this problem:
- use Java 8
- exclude the transitive dependency in the pom.xml:
[code]

I'll also have a look how to fix this problem.

[2021-01-28 19:42] #43 closed

[2021-02-12 18:10] staylor-ds opened #44 "Odd duplicate content behaviour on www.diariodeavila.es domain"
There appear to regularly be thousands of duplicate articles from this domain, always with identical initial paths but ending with different slugs

For example, I have noticed 2162 entries starting with `https://www.diariodeavila.es/noticia/Z59BAEC38-ADF2-2475-07830E240D31D863` that all appear to have identical content (the article title is `El Senado de EEUU aprueba la legalidad del 'impeachment'

[2021-02-12 22:49] sebastian-nagel commented on #44
Thanks for the notice, @staylor-ds! The [news sitemap](https://www.diariodeavila.es/sitemap.incremental.xml) which lists these duplicates is now excluded.

[2021-02-16 13:37] sebastian-nagel commented on #44
Solved by blocking the news sitemap - blocking is done by setting the nextFetchDate in the status index to a date far in the future.

[2021-02-16 13:37] #44 closed

[2021-02-16 14:00] staylor-ds commented on #44
There appears to be the same problem with `https://www.diariodeburgos.es/noticia/Z26A4505D-FD6A-2B2C-77AEFE1D801F5BA1/202101/10-burgaleses-al-dia-en-urgencias-por-resbalar-por-el-hielo` and 1506 other urls pointing to an article with the title "Messi llega caliente a la Champions"

[2021-02-18 17:02] sebastian-nagel commented on #44
Thanks again, @staylor-ds! Solved the same way. Verified that there are no other news sites which follow the same sitemap name pattern and are also affected.

[2021-03-20 18:09] brand17 opened #45 "How to get a listing of WARC/WAT/WET files using HTTP for News Dataset ?"
I can obtain listing for Common crawl by:

`https://commoncrawl.s3.amazonaws.com/crawl-data/CC-MAIN-2017-09/wet.paths.gz`

How can I do this with Common Crawl News Dataset ?

[2021-03-21 15:37] sebastian-nagel commented on #45
See also [same question on stackoverflow](https://stackoverflow.com/questions/66725153/how-to-get-a-listing-of-warc-files-using-http-for-common-crawl-news-dataset/66734223) and the  [news data release announcement](https://commoncrawl.org/2016/10/news-dataset-available/):
[code]
or for a subset:
[code]

[2021-03-22 04:47] brand17 commented on #45
Thanks

[2021-03-22 04:47] #45 closed

[2021-06-07 07:49] zikolach opened #46 "News archive is not available since 06.06.2021"
There seems to be only one file available for 2021-06-06 and nothing since then. Are there any changes related to news dataset?

[code]

[2021-06-07 08:39] sebastian-nagel commented on #46
Thanks, @zikolach! Issue confirmed, caused by a partial failure of the status index. The crawler is still running but practically without discovering new articles anymore. I'll hope to get it fixed in a few hours.

[2021-06-07 14:33] sebastian-nagel commented on #46
The crawler is now back to normal and the first WARC file is uploaded. As expected, during the first two hours the crawler was mostly occupied fetching and parsing all the feeds and news sitemaps missed since Saturday 20:07 UTC when the status index failed. It's now running well and creating multiple WARC files per hour - to be uploaded soon. Thanks again, @zikolach!

[2021-06-07 15:26] zikolach commented on #46
@sebastian-nagel thanks a lot for quick response and fixing!

[2021-06-07 15:26] #46 closed

[2022-01-13 02:26] scarcenine opened #47 "Run docker in a non-interactively way"
Hi, I've been trying to run docker in a non-interactively using the following command
[code]
the complete logs can be found [here](https://gist.github.com/scarcenine/c98b28f098cddf83b89a32841861009f)
When running it interactively I have no problem. Any idea what the problem is?

[2022-01-13 14:12] sebastian-nagel commented on #47
- could you share also the worker.log ? The linked log file is only that of the process launching the topology and then exits.
- maybe you want to use docker-compose to launch all components in separate containers? See [warc-crawler](https://github.com/sebastian-nagel/warc-crawler). Note: the crawler topologies provided there are to consume WARC files. You'd need to write one for real crawling.

[2022-09-29 03:57] sljlp opened #48 "How large is the dataset"
Please tell me how large the dataset is. Thanks.

[2022-09-29 03:58] sljlp commented on #48
What's the cleaning method?

[2022-10-03 19:36] sebastian-nagel commented on #48
- the Common Crawl news dataset from 2016 until Sep 2022 includes about 25 TiB of WARC files
- no cleaning is done - the WARC files contain the HTML of the crawled news articles
- for further information about the news dataset, see
  - https://commoncrawl.org/2016/10/news-dataset-available/
  - https://data.commoncrawl.org/crawl-data/CC-NEWS/index.html
- for questions about Common Crawl datasets:

[2022-10-18 13:10] #48 closed

[2022-10-18 13:13] #47 closed

[2022-10-18 13:30] sebastian-nagel opened #50 "Use wikidata to complete seeds"
Initially, the news crawler was seeded with URLs from news sites from DMOZ, see #8 for the procedure. DMOZ isn't updated anymore, but [Wikidata](https://www.wikidata.org/wiki/Wikidata:Main_Page) could be a replacement to complete the seed list:
- select all instances of [newspaper](https://www.wikidata.org/wiki/Q11032) ([news media](https://www.wikidata.org/wiki/Q1193236), or similar) having an [o